<div class="bg-gradient-to-r from-gray-900 to-violet-500 min-h-screen">


    <div class="container px-64  py-6 mx-auto">
      <h1 class=" text-white text-center font-medium text-4xl mt-8">Played</h1>
      <h3 class=" text-white text-center font-medium text-4xl mt-8">Total games played {{playedList.length}}</h3>
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-3">
                    @defer ( ) {
                    @for (item of playedList; track item.gameId) {
                        <div class="flex flex-col">

                        
                        <div class="relative h-52 max-w-36 overflow-hidden rounded-xl text-gray-700 group transition-all duration-300 hover:border-yellow-500 bg-center">
                           

                            <div
                            class="relative h-52 max-w-36 overflow-hidden rounded-xl text-gray-700 group transition-all duration-300 hover:border-yellow-500 bg-center">
                            <a class="" class="" href="/details/{{item.gameId}}">
                              <img
                              alt=""
                              class="absolute inset-0 h-full bg-cover bg-center text-gray-700 shadow-none object-cover w-full aspect-square group-hover:scale-110 transition duration-300 ease-in-out"
                              src="{{item.gameImage}}"/>
                            </a>
                            <div class="absolute bottom-0 right-0 mb-8 mr-2">
                                
                              @if (false) {<!-- TODO: LOGOUT SERVICE? --> 
                              <button (click)="DeletePlayed(item.id)" class="bg-pink-600 hover:bg-rose-600 text-white font-bold py-2 px-4 rounded-full">
                                Delete
                              </button>
                            } 
                            </div>
                          </div>
                        </div>  
                        <p class="text-white font-light">Finished: {{item.finish_date | date: 'dd/MM/yyyy'}}</p>   
                    </div>   
                    }
                    }

                    @placeholder () {
                    <img class="w-12 h-12 rounded-full m-auto" alt="loading..."
                        src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca.gif" />
                    }
                </div>
            </div>

       

        <div class="pb-5 flex justify-center">
            <div class="flex">
                <!-- Previous Button -->
                <button (click)="previousPagination()"
                    class="flex items-center justify-center px-3 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 5H1m0 0 4 4M1 5l4-4" />
                    </svg>
                    Previous
                </button>
                <!-- Next Button -->
                <button (click)="nextPage()"
                    class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    Next
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </button>
            </div>
        </div>

 </div>

 <div>
    @if (showAlert) {
    <app-alert [msg]="configAlert.msg" [status]="configAlert.status" [state]="configAlert.state" (close)="CloseAlert()"></app-alert>
  }
  </div>