<form [formGroup]="myform" (submit)="AddReview()">
<h1 mat-dialog-title class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Add Review for {{inputData.name}}</h1>
<div mat-dialog-content class="grid grid-cols-1 grid-rows-1">
    <mat-form-field>
        <mat-label>Review</mat-label>
        <!--TODO STAR RATING SYSTEM-->
        <textarea formControlName="review" matInput></textarea>   
    </mat-form-field>
    <mat-form-field>
        <mat-label>Rating</mat-label>
        <mat-select formControlName="rating" #fontSize value="0">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
          </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions class="flex justify-center">
    <button mat-raised-button class='inline-flex text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none hover:bg-purple-600 rounded text-lg'>Create</button>
    <button (click)="closePopup()" class="ml-4 inline-flex text-gray-400 bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg">Cancel</button>
</div>
</form>
