@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: from-gray-900 to-violet-500;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
